.iconMenu {
  background: var(--secondary-color);
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
}

.link {
  display: flex;
  padding: var(--space-lg);
  color: var(--light-color);
  transition: background 0.2s ease;
  cursor: pointer;
}

.link svg {
  height: var(--space-lg);
  width: var(--space-lg);
}

.link:hover,
.link:focus {
  background: var(--primary-color-lighten);
}

.listItem {
  border-left: var(--space-xxxs) solid transparent;
}

.active {
  border-left: var(--space-xxxs) solid var(--light-color);
}

.pushDown {
  margin-top: auto;
}
