.iconMenu {
  background: var(--secondary-color);
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
}

.link {
  display: flex;
  padding: 1.25rem;
  color: white;
  transition: background 0.2s ease;
  border-radius: 4px;
  cursor: pointer;
}

.link svg {
  height: 1.25rem;
  width: 1.25rem;
}

.link:hover,
.link:focus {
  background: var(--primary-color-lighten);
}

.listItem {
  border-left: 2px solid transparent;
}

.active {
  border-left: 2px solid white;
}

.pushDown {
  margin-top: auto;
}
