.header {
  display: flex;
  align-items: center;
  padding: var(--space-sm);
  color: var(--header-text-color);
  height: 75px; /* fixed height for top bar */
  background: var(--header-background-color);
}
