.dashboard {
  display: block;
  height: 100vh;
  width: 100%;
}

nav {
  padding: 1rem;
  color: white;
  background: var(--primary-color);
}

main {
  padding: 1rem;
  background: var(--light-color);
}
