/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

/* Global */
:root {
  /* Theme */
  --color-primary: #121212;
  --color-secondary: #212121;
  --color-tertiary: #909090;
  --color-primary-lighten: #2e2e2e;
  --color-gray: #5a5a5a;
  --color-gray-lighten: #909090;
  --color-white: white;
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 48px;
  /* Component Variable Settings */
  --header-background-color: var(--color-secondary);
  --header-text-color: var(--color-white);
  --icon-menu-background-color: var(--color-secondary);
  --icon-menu-link-color: var(--color-gray-lighten);
  --icon-menu-link-active-color: var(--color-white);
  --icon-menu-link-text-color: var(--color-white);
  --icon-menu-link-bg-color-interact: var(--color-primary-lighten);
  --navigation-background-color: var(--color-primary);
  --navigation-text-color: var(--color-white);
  --navigation-interact: var(--color-gray);
  --navigation-width: 250px;
  --heading-color: var(--color-primary);
  --text-color: var(--color-primary);
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dashboard {
  display: block;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  height: calc(100% - 75px); /* Minus fixed top bar height */
}
